<html>
<head>
<title><%=  title %></title>
<%- include('componentes/header'); -%>
</head>
<body>


<%- include('componentes/nav'); -%>

<div class="container">
	
<header class="row p-3 ">
	
	<div class="col-lg-12  text-center">
<br><br>
		<img src="/img/principal.png" class="animated bounceIn" width="500">
		<br><br>
	</div>

</header>
</div>

<!--sección 1-->

<div class="container-fluid">
	
	<div class="row bg-dark text-white p-5 text-center">
		
		<div class="col-sm-6">

		<i class="fab fa-youtube fa-10x"></i>
		
	</div>

		<div class="col-sm-6">

		<h3>Canal de youtube</h3>
		<p>
			
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus est enim, venenatis vehicula leo bibendum quis. Nam rutrum massa sed risus elementum commodo. Praesent libero diam, scelerisque eget scelerisque vel, efficitur a urna. Fusce blandit lacus venenatis metus tristique dapibus. Maecenas et nunc ut massa euismod tincidunt. 


		</p>
		
	</div>

	</div>

</div>





<%- include('componentes/scripts'); -%>


<%- include('componentes/footer'); -%>
</body>
</html>