<html>
<head>
<title><%=  title %></title>
<%- include('componentes/header'); -%>
</head>
<body>
<%- include('componentes/nav'); -%>


<div class="container">

	<div class="row p-2">

		<div class="col-sm-6">
			
			<img src="/img/nosotros.jpg" width="100%">

		</div>
		<div class="col-sm-6">
				<h2>
					Info Nosotros

				</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam finibus est enim, venenatis vehicula leo bibendum quis. Nam rutrum massa sed risus elementum commodo. Praesent libero diam, scelerisque eget scelerisque vel, efficitur a urna. Fusce blandit lacus venenatis metus tristique dapibus. Maecenas et nunc ut massa euismod tincidunt. Sed elementum convallis varius. Curabitur metus ligula, dictum ac leo vitae, tempor consectetur risus. Aliquam pulvinar finibus magna, in rutrum odio efficitur et. Nunc convallis ante justo, et cursus nibh sodales sed. Nam maximus non velit eget molestie.

			</p>
			<p>
				Aenean hendrerit lorem turpis, id rutrum odio commodo et. Pellentesque non felis eget metus interdum consectetur. Phasellus bibendum augue viverra maximus tristique. Nunc aliquam varius neque vitae condimentum. Vivamus molestie nulla et tellus laoreet faucibus. 
			</p>


		</div>
		

	</div>
	
<div class="row p-2">
	
	<p>
		Nulla tempus ipsum felis, ac eleifend ante volutpat ut. Vestibulum imperdiet velit sit amet tellus tristique elementum. Donec sagittis risus eget tortor interdum feugiat. Mauris volutpat commodo lacus eu condimentum. Aliquam erat volutpat. Nam nec dictum leo. Suspendisse placerat scelerisque lacus, sed pharetra enim egestas et. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sit amet tellus id mauris ultrices ornare. Donec in ipsum urna. Cras ac mauris ultricies, aliquet turpis eget, bibendum nunc. Nulla varius nisl ante, sed faucibus sapien ultricies quis. Sed mollis ultrices mi. Integer iaculis fermentum arcu, quis dignissim purus placerat quis. Duis eu vehicula augue, vel sagittis turpis. Nam auctor lobortis porttitor.
	</p>

	
			<p>
				Integer leo sapien, hendrerit ut mollis sed, fringilla vel velit. Sed feugiat tincidunt viverra. Maecenas sollicitudin arcu mi, in posuere mi cursus in. Suspendisse tristique purus nec sodales ullamcorper. Morbi venenatis consequat ligula, pharetra fermentum sapien laoreet eu. Curabitur sollicitudin lacus in mi consectetur luctus. Nunc sollicitudin consequat dolor in interdum. Aenean porta ipsum eget magna aliquam hendrerit. Suspendisse tincidunt lacinia consectetur. Praesent placerat felis et ultrices facilisis. Aliquam sit amet luctus libero, ut porttitor quam.
			</p>

</div>

</div>


<%- include('componentes/scripts'); -%>
<%- include('componentes/footer'); -%>

</body>
</html>